html, body, #root {
    height: 100%;
  }
  
  body {
    margin: 0;
    background: #000; /* 和页面主背景一致 */
  }
@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  height: 100%;
}

body {
  margin: 0;
  background: #000;
}